{% extends "base.html" %} 
{% load humanize %}

{% block titulo_pagina %}
    <h2>Exercício 1</h2>
{% endblock %} 

{% block conteudo %}

    <div class="dashboard" style="display: inline;">
        <p>Retornar, sem duplicação, os valores do campo UF da tabela de Municípios.<br>
        Ordenar pelo nome da UF.
        </p>
        <table>
            <thead>
                <tr>
                    <th>Nome da UF</th>
                </tr>
            </thead>
            <tbody>
                {% for r in result %}
                <tr>
                    <td>{{r.0}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
