{% extends "base.html" %} 
{% load humanize %}

{% block titulo_pagina %}
    <h2>Dados Gerais</h2>
{% endblock %} 

{% block conteudo %}

    <div class="dashboard">

        <table>
            <thead>
                <tr>
                    <th>Posição</th>
                    <th>Município (UF)</th>
                    <th>Quantidade de Campi</th>
                </tr>
            </thead>
            <tbody>
                {% for r in ranking %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
