{% extends "base.html" %} 
{% load humanize %}

{% block titulo_pagina %}
    <h2>Ranking dos Cursos com mais Ofertas por UF com ENADE Médio >= 2,5</h2>
{% endblock %} 

{% block conteudo %}

<div class="dashboard">

    {% for r in ranking %}
    <table>
        <thead>
            <th class="uf">{{r.uf}}</th>
        </thead>
        <thead>
            <tr>
                <th>Posição</th>
                <th>Curso</th>
                <th>Ofertas</th>
                <th>ENADE<br>Méd[Mín-Máx]</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in r.resultado %}
            <tr>
                <td style="text-align: right;">{{ forloop.counter }}°</td>
                
                <td>{{ curso.0 }}</td>  <td>{{ curso.1 }}</td>  <td>{{ curso.2 }}<br>[{{curso.3}} - {{curso.4}}]</td>  </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

</div>

{% endblock %}
